body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    background-size: 200% 200%;
    background-image: linear-gradient(45deg, #3a3639, #383846, #545d5d, #1e1e2d);
    animation: gradient 30s ease infinite;
    color: white;
    font-family: monospace;
    font-size: 1.5rem;
}

.content {
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

#gameboard {
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 40px;
    width: 40px;
    position: relative;
}

.beige {
    background: rgba(255, 255, 255, 0.2);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}

.brown {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.square svg {
    height: 30px;
    width: 30px;
    margin: 5px;
    position: relative;
    z-index: -9;
}

path {
    position: relative;
    z-index: -10;
}

.piece {
    position: relative;
    z-index: 9;
}

.black {
    fill: rgb(28,28,28);
}

.white {
    fill: rgb(255,255,255)
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }